.button {
  border: 1px solid #2c2c2c;
  background-color: #2c2c2c;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px;
  width: 55px;
  height: 40px;
  transition: filter 0.3s;
}