.checkbox {
  --icon-color: #fff;
  --icon-size: 16px;
  --box-bg: #2c2c2c;
  --box-size: 30px;
  --box-radius: 8px;
  --box-border: 1px solid #777;
  --hover-color: #f39c12;
  --focus-color: #f39c12;
  --transition-duration: 0.2s;
  display: inline-flex;
  gap: 8px;
  align-items: baseline;
  max-width: max-content;
  width: auto;

  @media (hover: hover) {
    .checkbox__label:hover .checkbox__box {
      box-shadow: 0px 0px 5px 0px var(--hover-color);
    }
  }

  .checkbox__label {
    cursor: pointer;
  }

  /* Если внутри label есть .checkbox__text, тогда стилизуем label */
  .checkbox__label:has(.checkbox__text) {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    flex-shrink: 0;
    max-width: max-content;
    width: auto;

    @media (hover: hover) {
      .checkbox__text:hover {
        text-decoration: underline;
      }
    }
  }

  .checkbox__input {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
  }

  .checkbox__input:focus-visible+.checkbox__label>.checkbox__box {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
  }

  /* Стилизуем текст рядом c label */
  /*   .checkbox__input:focus-visible + .checkbox__label ~ .checkbox__text {
    text-decoration: underline;
  } */

  .checkbox__input:checked~.checkbox__text {
    text-decoration: line-through;
    color: #757575;
  }

  /* Стилизуем текст внутри label */
  .checkbox__input:focus-visible+.checkbox__label .checkbox__text {
    text-decoration: underline;
  }

  .checkbox__input:checked~.checkbox__label .checkbox__text {
    text-decoration: line-through;
    color: #757575;
  }

  .checkbox__box {
    width: var(--box-size);
    height: var(--box-size);
    border: var(--box-border);
    border-radius: var(--box-radius);
    background-color: #fff;
    display: grid;
    place-items: center;
    flex-shrink: 0;
    transition: background-color var(--transition-duration),
      box-shadow var(--transition-duration);
    user-select: none;
  }

  .checkbox__icon {
    width: var(--icon-size);
    height: var(--icon-size);
    opacity: 0;
    font-size: 18px;
    line-height: 1;
    color: var(--icon-color);
    text-align: center;
    vertical-align: center;
    transition: opacity var(--transition-duration);
  }

  .checkbox__icon:has(img) img {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  .checkbox__icon:empty {
    background-image: url("https://cdn-icons-png.flaticon.com/128/11411/11411935.png");
    background-size: 100%;
    background-position: 50% 50%;
  }

  .checkbox__input:checked+.checkbox__label .checkbox__box {
    background-color: var(--box-bg);
  }

  .checkbox__input:checked+.checkbox__label .checkbox__icon {
    opacity: 1;
  }

  & .checkbox__text {
    color: #000;
		text-align: left;
  }

  .checkbox__input:checked~.checkbox__text {
    text-decoration: line-through;
    color: #757575;
  }
}