.todo {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .todo__title {
    font-weight: 600;
    font-size: 1.75rem;
    margin: 0;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000;
  }

  .todo__add {
    max-width: 500px;
    width: 100%;
    display: flex;
    gap: 12px;
  }

  .todo__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1rem;
    color: #000;
    margin: 10px 0;
  }

  .todo__list {
    max-width: 600px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .todo__list-empty {
    font-size: 24px;
    font-weight: 600;
  }

  .--hide {
    display: none;
  }
}