:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(87, 87, 87, 0.87);
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body {
  min-height: 100dvh;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 15px;
  text-align: center;
}

.todo-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}